<div class="bootstrap-wrapper">
    <mat-toolbar color="primary">
        <span>Audit Management System</span>
        <span class="example-spacer"></span>
    </mat-toolbar>
    <div class="container">
        <div class="row mt-30">
            <div class="col-md-6 offset-md-3">
                <mat-card class="mt-40">
                <div class="text-center">
                    <img src="../../../assets/images.png" alt="" width="200" height="200">
                    <h1>Member Login</h1>
                </div>
                <!--{{loginData|json}}-->
                <form class="mt-20" (ngSubmit)="formSubmit()">
                    <!-- Username Field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input [(ngModel)]="loginData.userName" name="userName" required matInput placeholder="Enter Username">
                    </mat-form-field>
                    <!-- Password Field -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput [(ngModel)]="loginData.password" name="password" required [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </mat-form-field>
                    <div class="container mt-20 text-center pb-40">
                        <button accesskey="l" mat-raised-button class="plpr-5" color="primary" ><u>L</u>ogin</button>
                    </div>
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>