<mat-card>
    <div class="mb-300">
      <mat-action-list>
        <h1>Hi, {{customerName}}</h1>
        <div mat-subheader>Menu</div>
        <mat-divider></mat-divider>
        <button accesskey="h" mat-list-item routerLink="/dashboard">
          <mat-icon mat-list-icon>home</mat-icon> <span class="u">H</span>ome
        </button>
        <mat-divider></mat-divider>
        <button accesskey="d" mat-list-item routerLink="/dashboard/content/customerdetails">
          <mat-icon mat-list-icon>info</mat-icon><u>A</u>ccount Details
        </button>
        <mat-divider></mat-divider>
        <button  accesskey="t" mat-list-item routerLink="/dashboard/content/moneytransfer">
          <mat-icon mat-list-icon>sync_alt</mat-icon><u>T</u>ansfer Money
        </button>
        <mat-divider></mat-divider>
        <button accesskey="w" mat-list-item routerLink="/dashboard/content/withdraw">
          <mat-icon mat-list-icon>money</mat-icon>Cash&nbsp;<u>W</u>ithdrawal
        </button>
        <mat-divider></mat-divider>
        <button accesskey="h" mat-list-item routerLink="/dashboard/content/deposit">
            <mat-icon mat-list-icon>savings</mat-icon>Cash&nbsp;<u>D</u>eposit
          </button>
          <mat-divider></mat-divider>
          <button accesskey="h" mat-list-item routerLink="/dashboard/statement">
            <mat-icon mat-list-icon>receipt_long</mat-icon>Account&nbsp;<u>S</u>tatement
          </button>
          <mat-divider></mat-divider>
        <button accesskey="o" mat-list-item (click)="userLogout()">
          <mat-icon mat-list-icon>logout</mat-icon>L<u>o</u>gout
        </button>
        <mat-divider></mat-divider>
      </mat-action-list>
    </div>
  </mat-card>
  